<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Login Medusa.pys</title>
		<link rel="stylesheet" href="{{url_for('static' , filename='css/flexboxgrid.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
		
	</head>
	<body>
		<!--Header-->
		<header id="main-header">
			<div class="container">
				<div class="row end-sm end-md end-lg center-xs middle-xs middle-sm middle- md middle-lg">
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						<h1><span class="primary-text">Medusa</span>.pys</h1>
					</div>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
						<nav id="navbar">
							<ul>
								<!-- <li class="current"><a href="login.html">Login</a></li> -->
							</ul>
						</nav>						
				</div>
			</div>			
		</header>

		<section id="subheader">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h1>Login</h1>						
					</div>					
				</div>				
			</div>			
		</section>


		<!--login-->
		
		<section id="login">
			<div class="container">
				<div class="row center-xs center-sm center-md center-lg">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h2>Login here please</h2>
						<form action="/login" method=post>
							<div>
								<input type="text" name="txtuser" id="txtuser" class="input" placeholder="User Name">
								<br>
								<br>
							</div>
							<div>
								<input type="password" name="txtpass" id="txtpass" class="input" placeholder="Password">
								<br>
								<br>
							</div>
							<div>
								<button type="submit" name="btnlogin">Login</button>
								<br>
							</div>
							<p>New here? Register Now!</p>
						</form>	
					</div>		
				</div>
			</div>	
		</section>
		
		

	<!--Project-->
		<section id="project">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<h4>Contact Us</h4>
						<ul>
							<li><i class="fa fa-phone"></i> (233)518-5918</li>
							<li><i class="fa fa-envelope"></i> support@medusa.test</li> 
							<li><i class="fa fa-map"></i> 8 St Mary's St, Boston, MA 02215</li>  
						</ul>						
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<h4>About Us</h4>
						<p>This is the coolest project you've ever heard!</p>				
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<h4>Support Us</h4>
						<ul>
							<li><i class="fa fa-paypal"></i> getrich@gmail.com</li>  
						</ul>			
					</div>
				</div>				
			</div>
		</section>

		<!--footer-->
		<footer id="main-footer">
			<div class="container">
				<div class="row center-xs center-sm center-md center-lg">
					<p>Copyright &copy; 2017  |  Medusa.pys</p>
				</div>
			</div>
		</footer>
	</body>
<!--
<script src="https://www.gstatic.com/firebasejs/4.6.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAC_TQcZx0LNaYG6lHD1DDHTb_cw5M8IEQ",
    authDomain: "distributive-computing.firebaseapp.com",
    databaseURL: "https://distributive-computing.firebaseio.com",
    projectId: "distributive-computing",
    storageBucket: "distributive-computing.appspot.com",
    messagingSenderId: "260081266013"
  };
  firebase.initializeApp(config);
</script>
-->