<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Provider</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/flexboxgrid.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<script>
			(adsbygoogle = window.adsbygoogle || []).push({
				google_ad_client: "ca-pub-9383695819970962",
				enable_page_level_ads: true
			});
		</script>

	</head>
	<body class="provider-bg">
		<!--Header-->
		<header id="main-header">
			<div class="container">
				<div class="row end-sm end-md end-lg center-xs middle-xs middle-sm middle- md middle-lg">
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						<h1 class=><span class="primary-text">Medusa</span>.pys</h1>
					</div>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
						<nav id="navbar">
							<ul>
								<li><a href="{{ url_for('index') }}">Home</a></li>
								<li><a href="{{ url_for('loggedin') }}">User</a></li>
								<li class="current"><a href="{{ url_for('provider') }}">Provider</a></li>
								<li><a href="{{ url_for('aboutus') }}">About Us</a></li>
							</ul>
						</nav>						
					</div>					
				</div>
			</div>			
		</header>

		<section id="subheader">
			<div class="container">
				<div class="row center-xs center-sm center-lg middle-xs middle-sm middle-lg">
					<h1>Provider</h1>
				</div>				
			</div>
		</section>

		<section id="signup-first">
			<div class="container">
				<div class="row center-xs center-sm center-md center-lg">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h2>First Step: Sign Up</h2>
						<p>New to Medusa.pys?<br>
							Please Sign up to be one of the Provider now!</p>
					</div>
					<a href="{{ url_for('register') }}" class="reg-from-pvd">Sign Up</a>
				</div>				
			</div>			
		</section>

		<!--download section-->
		<section id="download">
			<div class="container">
				<div class="row center-xs center-sm center-md center-lg">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h2>Second Step: Download</h2>
						<p>Already a member of Medusa.pys? <br>
							Please download our App to your OS!</p>
						<div class="row center-xs center-sm center-md center-lg" id="os-icons">
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<i class="fa fa-apple"></i><br>
								<h4>Mac OS</h4>
								<p>Click to download Version 1.0.0</p>	
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<i class="fa fa-windows"></i><br>
								<h4>Windows</h4>
								<p>Click to download Version 1.0.0</p>	
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<i class="fa fa-linux"></i><br>
								<h4>Linux</h4>
								<p>Click to download Version 1.0.0</p>	
							</div>							
						</div>						
					</div>
				</div>
			</div>			
		</section>

		<!--footer: social media link to be added if needed-->
		<footer id="index-footer">
			<div class="container">				
				<div class="row center-xs center-sm center-lg middle-xs middle-sm middle-lg">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<p><a href="{{ url_for('contactus') }}">CONTACT US</a></p>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<p>Copyright &copy; 2017  |  Medusa.pys</p>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<P> FOLLOW US: 
						<i class="fa fa-facebook">  </i>
						<i class="fa fa-twitter">  </i>
						<i class="fa fa-instagram">  </i>
						</P>
					</div>
					
				</div>
			</div>
		</footer>
	</body>