<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>User Medusa.pys</title>
		<link rel="stylesheet" href="css/flexboxgrid.css">
		<link rel="stylesheet" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<!--Header-->
		<header id="main-header"> 
			<div class="container">
				<div class="row end-sm end-md end-lg center-xs middle-xs middle-sm middle- md middle-lg">
					<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
						<h1><span class="primary-text">Medusa</span>.pys</h1>
					</div>
					<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
						<nav id="navbar">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="provider.html">Provider</a></li>
								<li class="current"><a href="user.html">User</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="login.html">Login</a></li>
							</ul>
						</nav>						
					</div>
				</div>
			</div>			
		</header>
	
		<section id="subheader">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h1>User</h1>						
					</div>					
				</div>				
			</div>			
		</section>

	<!--a js part to implement the uploading task-->
	<script type="text/javascript">
      function fileSelected() {
        var file = document.getElementById('fileToUpload').files[0];
        if (file) {
          var fileSize = 0;
          if (file.size > 1024 * 1024)
            fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
          else
            fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

          document.getElementById('fileName').innerHTML = 'Name: ' + file.name;
          document.getElementById('fileSize').innerHTML = 'Size: ' + fileSize;
          document.getElementById('fileType').innerHTML = 'Type: ' + file.type;
        }
      }

      function uploadFile() {
        var fd = new FormData();
        fd.append("fileToUpload", document.getElementById('fileToUpload').files[0]);
        var xhr = new XMLHttpRequest();
        xhr.upload.addEventListener("progress", uploadProgress, false);
        xhr.addEventListener("load", uploadComplete, false);
        xhr.addEventListener("error", uploadFailed, false);
        xhr.addEventListener("abort", uploadCanceled, false);
        xhr.open("POST", "UploadMinimal.aspx");
        xhr.send(fd);
      }

      function uploadProgress(evt) {
        if (evt.lengthComputable) {
          var percentComplete = Math.round(evt.loaded * 100 / evt.total);
          document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
        }
        else {
          document.getElementById('progressNumber').innerHTML = 'unable to compute';
        }
      }

      function uploadComplete(evt) {
        /* This event is raised when the server send back a response */
        alert(evt.target.responseText);
      }

      function uploadFailed(evt) {
        alert("There was an error attempting to upload the file.");
      }

      function uploadCanceled(evt) {
        alert("The upload has been canceled by the user or the browser dropped the connection.");
      }
    </script>

		<!--upload files-->
		<section id="upload">
			<div class="container">
				<div class="row center-xs center-sm center-lg middle-xs middle-sm middle-lg">
					<div class="col-xs-12 col-sm-10">
						<h1>Please upload your<span class="primary-text"> file here:</span></h1>
						<form id="form1" enctype="multipart/form-data" method="post" action="upload.php">
							<div class="row center-xs center-sm center-lg middle-xs middle-sm middle-lg">
								<label for="fileToUpload"> Select a File to Upload:</label>
								<input type="file" name="fileToUpload" id="fileToUpload" onchange="fileSelected();"/>	
							</div>
							<div id="fileName"></div>
							<div id="fileSize"></div>
							<div id="fileType"></div>
							<br>
							<br>
							<br>
							<div class="row center center-sm center-md center-lg top-xs top-sm top-md top-lg">
								<button type="button" onclick="uploadFile()"/>Upload</button>
							</div>
							<div>
								<p>Please <a href="login.html">Login</a> before uploading.</p>
							</div>
							<div id="progressNumber"></div>
						</form>	
						<br>
						<br>
						<br>											
						</div>	
					</div>
				</div>
			</div>
		</section>

		

		<!--Project-->
		<section id="project">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<h4>Contact Us</h4>
						<ul>
							<li><i class="fa fa-phone"></i> (233)518-5918</li>
							<li><i class="fa fa-envelope"></i> support@medusa.test</li> 
							<li><i class="fa fa-map"></i> 8 St Mary's St, Boston, MA 02215</li>  
						</ul>						
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<h4>About Us</h4>
						<p>This is the coolest project you've ever heard!</p>				
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<h4>Support Us</h4>
						<ul>
							<li><i class="fa fa-paypal"></i> getrich@gmail.com</li>  
						</ul>			
					</div>
				</div>				
			</div>
		</section>

		<!--footer-->
		<footer id="main-footer">
			<div class="container">
				<div class="row center-xs center-sm center-md center-lg">
					<p>Copyright &copy; 2017  |  Medusa.pys</p>
				</div>
			</div>
		</footer>




	</body>